body{
	font-family: 'Roboto Mono', monospace ;
	font-weight: 300;
	font-size: 1.6em;
	color: black;
	background-color: black;
	background-image: url(../img/starlingbg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0;
	padding: 0;

}

p {
	margin-bottom: 5rem;
}

.enter a{
	text-decoration: none;
	color: white;
}

a{
	color: white;
}

a:hover{
	color: white;
	text-decoration:underline;
}

#canvas{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mainbg{
	position: fixed !important;
	width: 100%;
	height: 100%;
}

.container{
	z-index: 2;
}

.main{
	margin-top: 7em;
}

img{
	width: 100%;
}

html{
	font-family: 'Roboto Mono', monospace ;
}



nav{
	z-index: 5;
	font-size: .6em;
	background-color: #ffffff00 !important;
	margin-right: 50px;
}

.navbar-brand{
		font-size: 3.5em;
		font-weight: 100;

}

.navbar-dark .navbar-nav .nav-link{
		font-weight: 300;
	color: white;
}



.logo{
	position: absolute;
	top: 45px;
	left: 48px;
	padding-left: 15px;
	line-height: 0;
}

.navbar-dark .navbar-toggler-icon{
	background-image: url(../img/hamburger.png);
}


.logo h5{
}



.rcontainer{
	margin-top: 100px;
}


.github{
	position: absolute;
	top: 0;
	right:0;
	z-index: 150;
}

.github a{
	display: inline;
}



h1{
		font-weight: 100;
		font-size: 3em;
		font-family: 'Roboto Mono', monospace;
}

h2{
	font-weight: 100;
	font-size: 2em;
}

h5{
	font-weight: 100;
	font-size: 2em;
}



.outer{
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.inner{
	margin-left: auto;
	margin-right: auto;
}

.footer{
	padding-top: 4em;
	margin-top: 9em;
	font-size: .5em;
	padding-bottom: 3em;
	text-transform: uppercase;
	font-weight: 400;
	background-color: #fbfbfb17;
}

.footer .row{
	margin-left: 0;
	margin-right: 0;
}


.footer a{
	color: black;
	text-decoration: underline;
}

.clickable-row{
	cursor: pointer;
}

.table-sm{
	font-size: 80%;
}



code{
	background-color: #c7b2f8;
	color: #444444;
	font-size: 59.5%;
	border: solid;
	border-width: 1px;
	border-color: #3b0071;
	padding: 0.3em;
}



 @media only screen and (max-width : 700px) {
.middle h1{
	font-size: 1.5em;
}

.main{
		margin-top: 1em;
	}

body{
	font-size: 92%;
}
}


@media only screen and (min-width: 768px){
	.container{
		padding: 0;
		max-width: 768px;
	}

}

@media only screen and (max-width: 995px) {
  .github{
	display: none;
}
	.middle h1{
	font-size: 2.4em;
}

.nav-item{
	font-size: 3.5em;
	line-height: 1em;
}



}

@media only screen and (min-width: 1200px){

.container{
		padding: 0;
		max-width: 1000px;
	}

}

@media only screen and (min-width: 1200px){
	.container{
		padding: 0;
		max-width: 1140px;
	}


	.middle h1{
	font-size: 2.9em;
}

}



 @media only screen and (min-width : 1400px) {

.middle h1{
	font-size: 3em;
}

	.container{
		padding: 0;
		max-width: 1340px;
	}


}




 @media only screen and (min-width : 1410px) {

.middle h1{
	font-size: 5em;
}
}



