body{
	font-family: 'Roboto Mono', monospace ;
	font-weight: 300;
	font-size: 1.6em;
	color: white;
	background-color: black;
	background-image: url(../img/starlingbg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}

img{
	width: 100%;
}

html{
	font-family: 'Roboto Mono', monospace ;
}

nav a{
	font-size: .7em;
	padding-left: 40px;
	color: white;
}

nav{
	margin-right: 50px;
	margin-top: 25px;
	text-align: right;
}

.logo{
	position: absolute;
	top: 25px;
	left: 25px;
	padding-left: 15px;
	line-height: 0;
}




.container{
	margin-top: 100px;
}


.github{
	position: absolute;
	top: 0;
	right:0;
	z-index: 150;
}

.github a{
	display: inline;
}



h1{
		font-weight: 100;
		font-size: 3em;
		font-family: 'Roboto Mono', monospace;
}

h2{
	font-weight: 100;
	font-size: 2em;
}

h5{
	font-weight: 100;
	font-size: 2em;
}

