body{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	background-image: url("../img/starlingbg.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #464646;
	color: white;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("../img/starlingbg-mobile.jpg");
  }
}

.logo{
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 15px;
	line-height: 0;
	margin-top: -15px;
}


input{
	border: none;
	background-color: rgba(93,82,124,.87);
	font-family: 'Roboto Mono', monospace !important;
	color: white;
	font-size: 1em;
	font-weight: 100;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
}



.button{
	font-family: 'Roboto Mono', monospace !important;
	font-size: 2em;
	padding: 5px;
	color: white;
	font-weight: 100;
/*	border-width: 1px;
	border: solid;*/
	margin-top: 15px;
	cursor: pointer;
}

.button:hover{
	background-color: white;
	color: rgba(93,82,124,.87);
}

h1{
		font-weight: 100;
		font-size: 7em;
		color: white;
}

h2{
	font-weight: 100;
	font-size: 4em;
}

h5{
	font-weight: 100;
	font-size: 2em;
	color: white;
}

.outer{
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}