<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Starling Sim</title>

  <!-- Scripts -->
  <script src="../js/lib/three.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.js"></script>
  <script src="../js/lib/SimplexNoise.js"></script>
  <script src="../js/lib/GPUComputationRenderer.js"></script>

</head>
<body>
  <!-- Simulation canvas -->
  <div id="canvas"/>
  <script src="../js/index.js"></script>
</body>

</html>
